<div class="header">
 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button (click)="sideNavToggle()">menu</button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
   <div class="content --flex-row-fill">
      <div class="sidebar --flex-column" [ngClass]="showFiller? 'min-side': 'expand-side'">
         <a href="#" class="item --flex-row-ai!s active">
            <div class="icon --flex-column-j!c-ai!c">
               <i class="fa fa-university" aria-hidden="true"></i>
            </div>
            <div class="label --flex-column-j!c">
               <span>LIBRARY</span>
            </div>
         </a>
         <a href="#" class="item --flex-row-ai!s">
            <div class="icon --flex-column-j!c-ai!c">
               <i class="fa fa-circle-o" aria-hidden="true"></i>
            </div>
            <div class="label --flex-column-j!c">
               <span>PATTERN TAP</span>
            </div>
         </a>
         <a href="#" class="item --flex-row-ai!s">
            <div class="icon --flex-column-j!c-ai!c">
               <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <div class="label --flex-column-j!c">
               <span>BUILDING BLOCKS</span>
            </div>
         </a>
         <a href="#" class="item --flex-row-ai!s">
            <div class="icon --flex-column-j!c-ai!c">
               <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
            </div>
            <div class="label --flex-column-j!c">
               <span>TRIGGERS</span>
            </div>
         </a>
         <a href="#" class="item --flex-row-ai!s">
            <div class="icon --flex-column-j!c-ai!c">
               <i class="fa fa-area-chart" aria-hidden="true"></i>
            </div>
            <div class="label --flex-column-j!c">
               <span>QUIPS</span>
            </div>
         </a>
      </div>
      <div class="page --flex-column-ai!c-fill">
         <!-- Content in here will be squished a little when you hover over the nav like in the example -->
         <h1>Example Title</h1>
         <img src="http://placekitten.com/g/800/400" alt="" />
      </div>
   </div>