<div class="login-layout">
    <div class="info-area">
            <h6>WELCOME TO OUR WEB SITE</h6>
    </div>
    <form class="login">
    <div class="login-box">
            <p>Please log in</p>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" value="John">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" value="Doe">
            <button type="button" class="btn btn-primary">Login</button>
            <div class="links">
              <a href="#">Forgot password</a>
              <a href="#">Register</a>
            </div>
    </div>
  </form>
</div>