<div class="login-layout">
    <div class="info-area">
            <h6>WELCOME TO OUR WEB SITE</h6>
    </div>
    <form class="login">
    <div class="login-box">
            <p>Please log in</p>
            <label for="fname">User Name</label>
            <input type="text" id="EmailId" name="EmailId" [(ngModel)]="loginObj.EmailId" >
            <label for="lname">Password</label>
            <input type="password" id="Password" [(ngModel)]="loginObj.Password" name="Password">
            <button type="button" (click)="login()" class="btn btn-primary">Login</button>
            <div class="links">
              <a href="#">Forgot password</a>
              <a href="#">Register</a>
            </div>
    </div>
  </form>
</div>